<app-navbar
  [collapsed]="navbarCollapsed"
  (toggleMobilePanelEvent)="toggleMobilePanel($event)"
  (closeAllMobilePanelsEvent)="closeAllMobilePanels()"
  (toggleNavbarEvent)="toggleNavbar()">
</app-navbar>

<!-- Desktop layout -->
<div class="hidden sm:flex h-[calc(100vh-4.5rem)] w-full overflow-hidden" [ngStyle]="{ height: navbarCollapsed ? 'calc(100vh - 3rem)' : 'calc(100vh - 4.5rem)' }">
  <app-sidebar
    side="left"
    [collapsed]="leftCollapsed"
    (togglePanelEvent)="togglePanel('left')"
    (setContentEvent)="setContent($event)">
  </app-sidebar>

  <div class="flex-grow overflow-auto p-6">
    <app-content [contentHtml]="contentHtml"></app-content>
  </div>

  <app-sidebar
    side="right"
    [collapsed]="rightCollapsed"
    (togglePanelEvent)="togglePanel('right')"
    (setContentEvent)="setContent($event)">
  </app-sidebar>
</div>
